<html>
	<head>
	<meta http-equiv="refresh" content="5">
		{% if title %}
		<title>{{title}} - cute, super cute!</title>
		{% else %}
		<title>cute, super cute!</title>
		{% endif %}
	</head>
	<body>
		<div>cute, super cute!: <a href="/index">Home</a></div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
