<html>
	<head>
	<meta http-equiv="refresh" content="5">
		{% if title %}
		<title>{{title}} - cute, super cute!</title>
		{% else %}
		<title>cute, super cute!</title>
		{% endif %}
	</head>
	<body>
		<div><a href="/index">Cute, Super Cute!</a> | 
		<a href="/train">Choo-Choo</a> | 
		<a href="/kitty">Kitty</a> | 
		<a href="/dog">Dog</a> | 
		<a href="/bear">Bear</a> | 
		<a href="/dragon">Dragon</a></div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }} </li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
